<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576415720587-ofqlmehtimdaiotfh9530uuptjasscgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576415720587-ofqlmehtimdaiotfh9530uuptjasscgr</string>
	<key>API_KEY</key>
	<string>AIzaSyBIMvmALjt0PKF41Kqs1HBRGaZcgcVHk2g</string>
	<key>GCM_SENDER_ID</key>
	<string>576415720587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Freecycle</string>
	<key>PROJECT_ID</key>
	<string>gifting-relaise</string>
	<key>STORAGE_BUCKET</key>
	<string>gifting-relaise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576415720587:ios:5d04e19c21b90b5225208e</string>
</dict>
</plist>